<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supermarket.mapper.purchaseMapper">

    <!--将数据库字段映射到实体类属性名-->
    <resultMap id="result" type="supermarket.model.PurchaseRecord">
        <result column="p_id" property="purchaseId"/>
        <result column="sf_id" property="staffId"/>
        <result column="p_date" property="purchaseDate"/>
        <result column="goods_id" property="goodsId"/>
        <result column="p_price" property="price"/>
        <result column="p_amount" property="amount"/>
    </resultMap>

    <!--添加一条进货记录-->
    <insert id="addPurchase" parameterType="supermarket.model.PurchaseRecord">
        insert into purchase_record(sf_id,p_date,goods_id,p_price,p_amount)
        values (#{staffId},#{purchaseDate},#{goodsId},#{price},#{amount})
    </insert>

    <!--分页查询所有进货记录-->
    <select id="selectPurRecordByPage" resultType="supermarket.model.PurchaseRecord" resultMap="result">
        select * from purchase_record where goods_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <!--根据商品姓名分页查询进货记录-->
    <select id="selectPurRecordByGoodsName" resultType="supermarket.model.PurchaseRecord" resultMap="result">
        select * from purchase_record,goods
        <if test="name!=null and start!=null and pageSize!=null">
        where purchase_record.goods_id = goods.goods_id and goods.goods_name like concat('%',#{name},'%')
        <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item} limit #{start},#{pageSize}
        </foreach>
        </if>
    </select>

    <!--根据商品编号查询集合记录总条数-->
    <select id="getCount" resultType="int" parameterType="list">
        select count(*) from purchase_record
        <if test="list!=null">
            where goods_id
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        ;
    </select>

</mapper>
