<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supermarket.mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="supermarket.dto.staffDto">
        <id column="sf_name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="identity" property="identity"/>
        <result column="sf_phone" property="phoneNum"/>
        <result column="sf_status" property="workState"/>
    </resultMap>
    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from staff s
        <if test="search != null and search != ''">
            where s.sf_name regexp #{search}
        </if>
    </select>
    
    <select id="getStaffByPage" resultMap="BaseResultMap">
        select sf_name, sex, identity, sf_phone, sf_status from staff
        <if test="search != null and search != ''">
            where sf_name regexp #{search}
        </if>
        <if test="start!=null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>
</mapper>